.calendar {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
}
/* input[type='date'] {
  background-color: red;
  outline: none;
  display: flex;
} */

.calendar-item {
  width: 98%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}
