.calendar-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  height: 60px;
  flex: 0 0 50px;
  margin: 0 10px;
}
.calendar-day:first-child {
  margin: 0;
}
.calendar-day:focus {
  color: white;
  background-color: black;
}

.calendar-day:hover {
  border: 1px solid orange;
}

.calendar-day:active {
  color: white;
  background-color: red;
}
