.task-list {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.add-new-task {
  width: 70px;
  height: 30px;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 3px;
}

.add-new-task:hover {
  color: white;
}

.dot {
  margin: 20px 10px 0;
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 10px;
}
.second-dot {
  margin: 20px 10px 0;

  width: 5px;
  height: 5px;
  background-color: orange;
  border-radius: 10px;
}
.show-dots {
  display: flex;
}

.form {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
}
.form_input {
  outline: none;
  border: 1px solid darkgrey;
  border-radius: 4px;
}
